@charset "UTF-8";
/* CSS Document */

html {
	font-size:18px;
	font-family: Helvetica;
	color: black;
	line-height: 1.4;
	}
	
footer, #container {
	margin:auto;
	width: 960px;
	}
	
/* Header */

header {
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 31rem;
	background-image: url("../images/glasses-bg.png");
	background-size: cover;
	}

#container {
	background-color: cadetblue;
	margin-top: 1rem;
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	align-content: center;
	}
	
#logo {
	display: flex;
	flex-direction: row;
	align-content: center;
	}
	
#glasseswhite {
	height: 1.5rem;
	margin: auto 1rem auto 2rem;
	}
	
h4 {
	color: white;
	margin-top: 1rem;
	margin-bottom: 1rem;
	}
	
#menuword {
	display: none;
	}
	
ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	}

li {
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-right: 2rem;
	}
	
a:link {
	color: white;
	text-decoration: none;
	}
	
#slogan {
	margin:10rem auto;
	width: 1032px;
	display: flex;
	flex-direction: row;
	justify-content:flex-end;
	}
	
h1 {
	text-align:right;
	background-color: white;
	padding: 1.5rem 5rem;
	width: auto;
	text-transform: uppercase;
	font-size: 2rem;
	font-weight: bold;
	line-height: 1.2;
	margin: 0;
	}
	
/* Main */

main {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 960px;
	}
	
#features {
	display: flex;
	flex-direction: row;
	margin: 3rem auto;
	height: 8rem;
	}
	
.feature {
	display: flex;
	flex-direction: column;
	margin: auto 3rem;
	justify-content: space-between;
	height: 8rem;
	}
	
#document {
	width: 3.5rem;
	margin:auto;
	margin-top: 0;
	}
	
#ruler, #truck {
	width: 5rem;
	}
	
#features h3 {
	text-align:center;
	}
	
#moreinfo {
	margin: auto;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	}
	
.extra {
	display: flex;
	flex-direction: column;
	width: 35%;
	margin-right: 5%;
	margin-bottom: 5rem;
	}
	
h2 {
	background-color: cadetblue;
	width: 10rem;
	color: white;
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: bold;
	padding: 0.5rem 1.25rem;
	margin-bottom: 1rem;
	}
	
	
/* Footer */

footer {
	background-color: azure;
	width: 960px;
	display: flex;
	margin: auto;
	flex-direction: row;
	align-items: center;
	}
	
footer img {
	height: 1.5rem;
	margin: 4rem 1rem 4rem 4rem;
	}

/* Tablet screen */

@media only screen and (max-width : 1024px ){
	
	header {
		height: 22rem;
		}
	
	#container {
		width: 100%;
		margin: 0;
		display: flex;
		flex-direction: row;
		justify-content:space-between;
		align-content: center;
		}
	
	#slogan {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content:flex-end;
		margin-top: 0;
	}
	
	h1 {
		text-align:right;
		margin-right: 2rem;
		margin-top:5rem;
		padding: 0.75rem 4rem;
		width: auto;
		font-size: 1.33rem;
		line-height: 1.2;
		}
		
	main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: auto;
		width: 100%;
		}
		
}

@media only screen and (max-width: 820px) {
	#slogan {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		margin: 13rem auto auto auto;
		}
		
	h1 {
		margin: 0;
		}	
	}

@media only screen and (max-width: 600px) {
	
	#menuword {
		display: flex;
		justify-content: flex-end;
		text-transform: none;
		font-weight: normal;
		text-align: right;
		padding: 0;
		margin-top: 1rem;
		margin-bottom: 1rem; 
		margin-right: 2rem;
		}
	
	ul {
		display: none;
		}
	
	#slogan {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		margin: 13rem auto auto auto;
		}
		
	h1 {
		margin: 0;
		}	
	
	main {
		display: flex;
		flex-direction: column;
		margin: auto;
		width: 100%;
		}
		
	#features {
		display: flex;
		flex-direction: row;
		margin: 3rem auto;
		height: 8rem;
		width: 100%;
		padding-right: 0;
		}
		
	.feature {
		display: flex;
		flex-direction: column;
		margin: auto 2rem;
		justify-content: space-between;
		height: 8rem;
		}
	
	}
	
@media only screen and (max-width: 480px) {
		
	html, footer {
		margin: auto;
		width: 100%;
		display: flex;
		}
	
	header {
		display:flex;
		flex-direction: column;
		justify-content: flex-start;
		margin-top: 0;
		height: 17rem;
		background-image: url("../images/glasses-bg.png");
		background-size: cover;
		}
		
	#container {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content:space-between;
		align-items: center;
		margin-top: 0;
		}
		
	#logo {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		margin-top: 1rem;
		margin-bottom: 1rem;
		}
		
	#glasseswhite {
		display: flex;
		height: 1.5rem;
		}
	
	#title {
		display: none;
		}
	
	#menuword {
		display: flex;
		justify-content: flex-end;
		text-transform: none;
		font-weight: normal;
		text-align: right;
		padding: 0;
		margin-top: 1rem;
		margin-bottom: 1rem; 
		margin-right: 2rem;
		}
	
	ul {
		display: none;
		}
	
	#slogan {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin: 9rem auto auto auto;
		}
		
	h1 {
		margin: 0;
		width: 100%;
		text-align: center;
		background-color: white;
		padding-top: 1rem;
		padding-bottom: 1rem;
		text-transform: uppercase;
		font-size: 1rem;
		font-weight: bold;
		line-height: 1.2;
		}	
	
	#features {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 3.77rem auto;
		height: auto;
		}
		
	.feature {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: auto;
		margin-bottom: 1.54rem;
		}
		
	#document {
		width: 3.5rem;
		margin-top: 0;
		margin-bottom: 0;
		}
		
	.feature h3 {
		font-size: 0.77rem;
		margin-top: 1rem;
		line-height: 1.4;
		}
	
	#moreinfo {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 0 auto auto auto;
		}
	
	.extra {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin: 0 auto 4rem auto;
		}
	
	.extra h2 {
		width: 100%;
		color: white;
		text-transform: uppercase;
		text-align: center;
		font-size: 1rem;
		font-weight: bold;
		padding: 0.5rem 1.25rem;
		margin-bottom: 1rem;
		}
	
	.extra p {
		font-size: 0.77rem;
		padding: 2%;
		line-height: 1.4;
		}
	
	footer p {
		display: none;
		}
	
	footer {
		display: flex;
		flex-direction: row;
		justify-content: center;
		}
}
